img {
	width: 100%;
	height: auto;
	max-width: 300px;
	max-height: 300px;
}
body, html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	width: 100%;
	height: 100%;
}
body {
	font-family: Roboto;
	color: #424242;
}
h1 h2 h3 h4 .about .container1 .box {
	margin: 0;
	padding: 0;
}
/* Header */
.head_container {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
	background-color: #02b3e4;
	width: 100%;
	height: auto;
	/*flex*/
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	padding: 2% 0 2% 0;
}
.text {
	width: 70%;
	padding-left: 2%;
}
.header1 {
	margin: 0;
	padding: 0;
	font-size: 40px;
}
.header2 {
	margin: 0;
	padding: 0;
	font-size: 20px;
}
.head_logo {
	width: 10%;
	text-align: right;
	padding-left: 3%;
}
.logo {
	max-width: 70px;
	max-height: 70px;
	border-radius: 50%;
}
/* About */
.title {
	text-align: center;
	font-size: 30px;
	padding: 2% 0 2% 0;
	text-decoration: underline overline #FF3028;
	text-transform: uppercase;
}
.container1 {
	width: 100%;
	height: auto;
	/*flex*/
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}
.cell {
	margin: 20px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.info {
	width: 20%;
	height: auto;
	font-size: 20px;
}
.image {
	width: 20%;
	height: auto;
	text-align: center;
	margin-left: 50px;
}
.profile_image {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.description {
	width: 50%;
	height: auto;
	font-size: 25px;
	text-align: center;
	padding-top: 30px;
}
/* Skills */
.container2 {
	width: 100%;
	height: auto;
	/*flex*/
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}
.skill {
	width: 50%;
	height: auto;
	box-sizing: border-box;
	padding: 0;
	padding-right: 40px;
	padding-bottom: 30px;
	text-align: center;
}
.txt {
	text-align: center;
	font-size: 30px;
}
.box {
	width: 100%;
	background-color: #ddd;
	margin: 0;
}
.bar1 {
	width: 80%;
	background-color: #4CAF50;
	text-align: right;
}
.bar2 {
	width: 70%;
	background-color: #2196F3;
	text-align: right;
}
.bar3 {
	width: 50%;
	background-color: #f44336;
	text-align: right;
}
.bar4 {
	width: 40%;
	background-color: #808080;
	text-align: right;
}
/* Projects */
.container3 {
	width: 100%;
	height: auto;
	/*flex*/
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}
.pr {
	width: 50%;
	height: auto;
	box-sizing: border-box;
	padding: 0 0 30px 0;
	text-align: center;
}
.name {
	text-align: center;
	font-size: 30px;
	text-decoration: underline;
}
.border {
	border: thick double #32a1ce;
}
.project5 {
	width: 100%;
}
/*Footer */
footer {
	border-top: 1px solid #E0E0E0;
	width: 100%;
	text-align: center;
	background-color: gray;
	padding: 1em;
}
footer li {
	display: inline-block;
	margin-right: 10px;
}
footer a {
	text-decoration: none;
}
.ft {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 30px;
}