/* Responsive */
.content {
	display: flex;
	flex-wrap: wrap;
}
/* 1st breakpoint */
@media screen and (max-width: 600px) {
	.header1 {
		font-size: 20px;
	}
	.header2 {
		font-size: 12px;
	}
	.logo {
		max-width: 40px;
		max-height: 40px;
	}
	/* About */
	.info {
		width: 100%;
		font-size: 20px;
		text-align: center;
	}
	.image {
		width: 100%;
	}
	.description {
		width: 100%;
		font-size: 20px;
		padding: 10px 10px 0 10px;
	}
	/* Skills */
	.skill {
		width: 100%;
		text-align: center;
		padding-right: 0;
	}
	.txt {
		text-align: center;
		font-size: 20px;
	}
	.box {
		width: 90%;
		margin-left: 4.5%;
	}
	/* Projects */
	.pr {
		width: 100%;
	}
	.name {
		font-size: 20px;
	}
}
/* 2nd breakpoint */
@media screen and (min-width: 601px) and (max-width: 1020px) {
	/* About */
	.info {
		width: 40%;
		font-size: 20px;
		padding-left: 10%;
	}
	.image {
		width: 60%;
		padding: 0;
		margin: 0;
	}
	.description {
		width: 100%;
		padding: 3% 5% 0 5%;
	}
	/* Skills */
	.box {
		margin-left: 4%;
	}
	/* Projects */
	.pr {
		width: 50%;
		padding: 2% 5% 0 5%;
		text-align: center;
	}
	.project5 {
		width: 100%;
	}
}
/* 3rd breakpoint */
@media screen and (min-width: 1021px) {
	.content {
		width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}